* { 
    box-sizing: border-box; /* Says border and padding should be included in the total height and width for all elements */  
    padding: 0; /* Sets the padding on all four sides to zero for every element */
    margin: 0; /* Sets margin of all four sides to zero for every element */
}

body {
    background-color: #d9dcd6; /* Sets the background color to #d9dcd6 */
}

header {
    padding: 20px; /* Sets the padding on all four sides to 20 pixels */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Specifies font for the header */  
    background-color: #2a607c; 
    color: #ffffff; /* Sets the color of the text to #ffffff */
}

header h1 {
    display: inline-block; /* Displays element as an inline blck emement */ 
    font-size: 48px; /* Sets the font size to 48 pixels */
}

header h1 .seo {
    color: #d9dcd6; 
}

header nav {
    padding-top: 15px; /* Sets the top of the padding to 15 pixels */ 
    margin-right: 20px; /* Sets the right side of the margin to 20 pixels */
    float: right; /* floats nav elements to the right */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 20px;
}

header nav ul {
    list-style-type: none; /*Leaves the points of the list in defalut style */
}

header nav ul li {
    display: inline-block; /* Allows elements to start on the same line */
    margin-left: 25px; /* Sets the left side of the margin to 25 pixels */
}

a {
    color: #ffffff;
    text-decoration: none; /* Does not add any decoration to the text */
}

h2 {
    margin-bottom: 20px; /* Set the bottom of the margin to 20 pixels */
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center; /* Positions the text at the center */
}

p {
    font-size: 16px;
}

.hero {
    height: 800px; /* Sets the height of container to 800 pixels */
    width: 100%; /* Sets the width of contianer to 100 percent */
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg"); /* Sets the image as the background */
    background-size: cover; /* Tells the image to fill the entire container */
    background-position: center; /* Sets background image at the center */
}

.float-left {
    float: left; /* Tells element to float left */
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both; /* Prohibits elements floating around a specfic element of both sides */  
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
h3 {
    margin-bottom: 10px;
    text-align: center;
}
.benefit-lead img {
    display: block; /* Sets elements to start on a new line */
    margin: 10px auto;
    max-width: 150px; /* Sets maximum width to 150 pixels */
}

.benefit-brand img {
    display: block;
    margin: 10px auto; /* Sets top/bottom margins to 10 pixels and browser calculates left/right margins */
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px; /* Sets the maximum height to 200 pixels */
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
